*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

}
nav ul{
    height: 40px;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 5%;
    padding-left: 5%;
}

nav li{
    text-decoration: none;
}
nav a{

    text-decoration: none;
       padding: 10px;
       color: lightslategray;
       font-size: small;
}
nav li:first-child{
    margin-right: auto;
    user-select: none;
    font-size: large;
    color: lightslategray;
}
nav li a:hover{
    box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
    color: lightcoral;
}
nav li:first-child:hover{
    margin-right: auto;
    user-select: none;
    font-size: large;
    color: lightcoral;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}


ul{
    list-style: none;
}

span{
    color:lightcoral;
}

.hero{
    height: 50vh;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url(./assets/Nikon\ Z8\ Embers\ of\ Desire\ \(66\).jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}

.hero h1{
    color:rgb(255, 255, 255);
}
.portfolio{
    height: 800px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    height: 300px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client{
    height: 200px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero a{
    text-decoration: none;
    color: lightslategray;
    text-transform: uppercase;
   
}

.hero a:hover{
    color: lightcoral;
}


.herobtn{
    gap: 200px;
}
.button-hero {
  align-items: center;
  background-color: #fff;
  
  /* box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px; */
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 3px;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.button-hero:hover {
  box-shadow: #121212 0 0 0 2px, transparent 0 0 0 0;
  color: lightcoral;
}